#
# @brief   ${PRO}
# @version 1.0.0
# @date    ${DATE}
# @company None, free software to use ${YEAR}
# @author  Vladimir Roncevic <elektron.ronca@gmail.com>
#

RISCV64=riscv64-linux-gnu
RM = rm -rf
CC = $$(RISCV64)-gcc
OD = $$(RISCV64)-objdump
OC = $$(RISCV64)-objcopy
CS = $$(RISCV64)-size

